
@{
    ViewBag.Title = "XacnhanDonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Đơn hàng đã được xác nhận</h3>
<h4>Chúng tôi sẽ giao hàng cho bạn sớm nhất có thể !</h4>
<a href="@Url.Action("Payment","Giohang")">Thanh toán</a>

