USE [master]
GO
CREATE DATABASE [BANHANGGL]
GO
USE [BANHANGGL]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[MOTA] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Diachi] [ntext] NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tb_DANHGIA](
	[IDDANHGIA] [int] IDENTITY(1,1) NOT NULL,
	[Id] [nvarchar](128) NOT NULL,
	[IDSANPHAM] [int] NOT NULL,
	[DIEM] [float] NOT NULL,
	[DANHGIA] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDANHGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tb_GIOHANG](
	[IDGIOHANG] [int] IDENTITY(1,1) NOT NULL,
	[Id] [nvarchar](128) NOT NULL,
	[NGAYDAT] [datetime] NOT NULL,
	[NGAYGIAO] [datetime] NOT NULL,
	[GHICHU] [char](1) NULL,
	[THANHTIEN] [float] NULL,
	[THANHTOAN] [bit] NOT NULL,
	[TRANGTHAI] [nvarchar](32) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDGIOHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tb_GIOHANGCHITIET](
	[IDGIOHANG] [int] NOT NULL,
	[IDSANPHAM] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [PK__tb_GIOHA__BA0DF68D0AD2A005] PRIMARY KEY CLUSTERED 
(
	[IDSANPHAM] ASC,
	[IDGIOHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tb_SANPHAM](
	[IDSANPHAM] [int] IDENTITY(1,1) NOT NULL,
	[TENANPHAM] [nvarchar](256) NOT NULL,
	[HANG] [nvarchar](256) NOT NULL,
	[GIABAN] [float] NOT NULL,
	[HINHANH] [nvarchar](256) NULL,
	[MOTA] [ntext] NULL,
	[TRANGTHAI] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDSANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [AspNetRoles] ([Id], [Name]) VALUES (N'admin', N'ADMIN')
INSERT [AspNetRoles] ([Id], [Name]) VALUES (N'khachhang', N'KHACHHANG')
GO
INSERT [AspNetUserRoles] ([UserId], [RoleId], [MOTA]) VALUES (N'd8d32e40-c731-4c40-90b2-eee8046f0843', N'khachhang', NULL)
INSERT [AspNetUserRoles] ([UserId], [RoleId], [MOTA]) VALUES (N'da8ef0bb-637f-4533-99f5-fd6d7a3d0336', N'khachhang', NULL)
INSERT [AspNetUserRoles] ([UserId], [RoleId], [MOTA]) VALUES (N'e45ba1fa-645d-4240-897b-781113391654', N'admin', NULL)
GO
INSERT [AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Diachi], [Name]) VALUES (N'd8d32e40-c731-4c40-90b2-eee8046f0843', N'nguyenphuduc72001@gmail.com', 0, N'AIOt89yde9jjRca+IxNXGmqEihBNAM/aY9b+YCdxlYkAK3U+sxfywIXhiX1Uf7iJ1w==', N'53033f80-a112-49bd-9890-6ac6c93ebc67', N'0987654321', 0, 0, NULL, 1, 0, N'nguyenphuduc72001@gmail.com', N'Ktx ', N'Nguyễn Phú Đức')
INSERT [AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Diachi], [Name]) VALUES (N'da8ef0bb-637f-4533-99f5-fd6d7a3d0336', N'vhminhtam1@gmail.com', 0, N'ANJ5cKjnzZcYSTwldmx1AHhOykK39oF+Wqje3NOaF284N4LEJleYKTmh1ll8d3qeeA==', N'f3af81ca-41d2-4330-8ad5-c087da4c58f1', N'0867641204', 0, 0, NULL, 1, 0, N'vhminhtam1@gmail.com', N'47 Le tan quoc', N'Nguyễn Minh Tâm')
INSERT [AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Diachi], [Name]) VALUES (N'e45ba1fa-645d-4240-897b-781113391654', N'admin@gmail.com', 0, N'AGwSLpLBGx83agqtXLb3PvTlGpz8Mk7wlJ849qzYunp1TObGti0gXtj6XcgcuoDPPQ==', N'ab3154ff-2748-4dc9-95cb-26b8e7e69657', N'089999999', 0, 0, NULL, 1, 0, N'admin@gmail.com', N'admin', N'Nguyễn Minh Tâm')
GO
SET IDENTITY_INSERT [tb_GIOHANG] ON 

INSERT [tb_GIOHANG] ([IDGIOHANG], [Id], [NGAYDAT], [NGAYGIAO], [GHICHU], [THANHTIEN], [THANHTOAN], [TRANGTHAI]) VALUES (8, N'd8d32e40-c731-4c40-90b2-eee8046f0843', CAST(N'2022-06-29T15:06:53.770' AS DateTime), CAST(N'2022-06-29T00:00:00.000' AS DateTime), NULL, 20000000, 0, N'Chờ xử lý')
INSERT [tb_GIOHANG] ([IDGIOHANG], [Id], [NGAYDAT], [NGAYGIAO], [GHICHU], [THANHTIEN], [THANHTOAN], [TRANGTHAI]) VALUES (9, N'd8d32e40-c731-4c40-90b2-eee8046f0843', CAST(N'2022-06-29T15:07:30.737' AS DateTime), CAST(N'2022-06-29T00:00:00.000' AS DateTime), NULL, 25000000, 0, N'Chờ xử lý')
INSERT [tb_GIOHANG] ([IDGIOHANG], [Id], [NGAYDAT], [NGAYGIAO], [GHICHU], [THANHTIEN], [THANHTOAN], [TRANGTHAI]) VALUES (10, N'd8d32e40-c731-4c40-90b2-eee8046f0843', CAST(N'2022-06-29T15:09:44.467' AS DateTime), CAST(N'2022-06-29T00:00:00.000' AS DateTime), NULL, 30000000, 0, N'Chờ xử lý')
SET IDENTITY_INSERT [tb_GIOHANG] OFF
GO
INSERT [tb_GIOHANGCHITIET] ([IDGIOHANG], [IDSANPHAM], [SOLUONG], [THANHTIEN]) VALUES (8, 1, 1, 20000000)
INSERT [tb_GIOHANGCHITIET] ([IDGIOHANG], [IDSANPHAM], [SOLUONG], [THANHTIEN]) VALUES (12, 1, 1, 20000000)
INSERT [tb_GIOHANGCHITIET] ([IDGIOHANG], [IDSANPHAM], [SOLUONG], [THANHTIEN]) VALUES (13, 1, 1, 20000000)
GO
SET IDENTITY_INSERT [tb_SANPHAM] ON 

INSERT [tb_SANPHAM] ([IDSANPHAM], [TENANPHAM], [HANG], [GIABAN], [HINHANH], [MOTA], [TRANGTHAI]) VALUES (1, N'iPhone 13', N'Apple', 20000000, N'/Content/images/ip13.png', NULL, 0)
INSERT [tb_SANPHAM] ([IDSANPHAM], [TENANPHAM], [HANG], [GIABAN], [HINHANH], [MOTA], [TRANGTHAI]) VALUES (3, N'Samsung S22', N'Samsung', 18000000, N'/Content/images/s22.jpeg', NULL, 0)
SET IDENTITY_INSERT [tb_SANPHAM] OFF
GO
SET ANSI_PADDING ON
GO
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [IX_UserId] ON [AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [tb_DANHGIA]  WITH CHECK ADD FOREIGN KEY([IDSANPHAM])
REFERENCES [tb_SANPHAM] ([IDSANPHAM])
GO
ALTER TABLE [tb_DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_tb_DANHGIA_AspNetUsers] FOREIGN KEY([Id])
REFERENCES [AspNetUsers] ([Id])
GO
ALTER TABLE [tb_DANHGIA] CHECK CONSTRAINT [FK_tb_DANHGIA_AspNetUsers]
GO
ALTER TABLE [tb_GIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_tb_GIOHANG_AspNetUsers] FOREIGN KEY([Id])
REFERENCES [AspNetUsers] ([Id])
GO
ALTER TABLE [tb_GIOHANG] CHECK CONSTRAINT [FK_tb_GIOHANG_AspNetUsers]
GO
ALTER TABLE [tb_GIOHANGCHITIET]  WITH CHECK ADD  CONSTRAINT [FK__tb_GIOHAN__IDGIO__145C0A3F] FOREIGN KEY([IDGIOHANG])
REFERENCES [tb_GIOHANG] ([IDGIOHANG])
GO
ALTER TABLE [tb_GIOHANGCHITIET] CHECK CONSTRAINT [FK__tb_GIOHAN__IDGIO__145C0A3F]
GO
ALTER TABLE [tb_GIOHANGCHITIET]  WITH CHECK ADD  CONSTRAINT [FK__tb_GIOHAN__IDSAN__1273C1CD] FOREIGN KEY([IDSANPHAM])
REFERENCES [tb_SANPHAM] ([IDSANPHAM])
GO
ALTER TABLE [tb_GIOHANGCHITIET] CHECK CONSTRAINT [FK__tb_GIOHAN__IDSAN__1273C1CD]
GO
USE [master]
GO
